{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/ADL/largeIcons.css') }}">

    {{ parent() }}

{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container">
        <div class="row">
            <img src="https://robohash.org/{{ app.user.UserName }}" class="img-responsive thumbnail">
            {{ app.user.UserName }}
            <br>
            {{ app.user.firstName }}

        </div>
    </div>

{% endblock %}