{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/ADL/largeIcons.css') }}">

    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

<div class="container">
    <div class="row">
        <ul class="ca-menu">
            <li>
                <a href="#">
                    <span class="ca-icon"><i class="fas fa-user-plus"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Add new<br/> client</h2>
                        <h3 class="ca-sub"></h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('search_policies') }}">
                    <span class="ca-icon"><i class="fas fa-search"></i></span>
                    <div class="ca-content">
                        <h2 class="ca-main">Search by<br/> policy</h2>
                        <h3 class="ca-sub"></h3>
                    </div>
                </a>
            </li>
        </ul>

    </div>

    <div class="row">

        <form class="form-inline">
            <div class="input-group mb-2 mr-sm-2">
                <input type="text"
                       name="q"
                       class="form-control"
                       placeholder="Search..."
                       value="{{ app.request.query.get('q') }}"
                       >
            </div>
            <div class="input-group mb-2 mr-sm-2">
                <input type="text"
                       name="q"
                       class="form-control"
                       placeholder="Search..."
                       value="Clients found ({{ pagination.getTotalItemCount }})"
                       disabled
                >
            </div>
            <div class="input-group mb-2 mr-sm-2">
                <button type="submit"
                        class="btn btn-outline-secondary">
                    <span class="fas fa-search"></span>
                </button>
            </div>
        </form>

        <table class="table">
            <thead>
            <th>Date added</th>
            <th>Client Name</th>
            <th>Post Code</th>
            <th>Phone</th>
            <th>Company</th>
            </thead>
            <tbody>
            {% for client in pagination %}
                <tr>
                    <td>
                        {{ client.addedDate| date('Y-m-d') }}
                    </td>
                    <td>
                        <a href="{{ path('app_clientsPage', {slug: client.id}) }}">
                            {{ client.title }} {{ client.firstName }} {{ client.lastName }}
                            <br>
                            {{ client.title2 }} {{ client.firstName2 }} {{ client.lastName2 }}
                        </a>
                    </td>
                    <td>
                        {{ client.postcode }}
                    </td>
                    <td>
                        {{ client.phoneNumber }}
                    </td>
                    <td>
                        {{ client.owner }}
                    </td>

                </tr>

            {% else %}
            <tr>
                <td colspan="5" class="text-center">No clients found</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}

    </div>
</div>
{% endblock %}
