{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/ADL/largeIcons.css') }}">

    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% set foo = app.request.query.get('option') %}

    <div class="container">
        <br>
        <div class="row">

            <form class="form-inline">
                <div class="input-group mb-2 mr-sm-2">
                    <select type="text"
                            name="option"
                            class="form-control"
                    >
                        <option>Select...</option>
                        <option value="Delivered" {% if foo == 'Sent' %} selected {% endif %} >
                            Delivered
                        </option>
                        <option value="Failed" {% if foo == 'Failed' %} selected {% endif %}>
                            Failed
                        </option>
                        <option value="Response" {% if foo == 'Response' %} selected {% endif %}>
                            Responses
                        </option>
                    </select>
                </div>

                <div class="input-group mb-2 mr-sm-2">
                    <input type="text"
                           class="form-control"
                           value="Records found ({{ result.getTotalItemCount }})"
                           disabled
                    >

                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fas fa-search"></span>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <a href="{{ path('app_sms_inbound') }}"
                           class="btn btn-outline-secondary btn-outline-danger">
                            <span class="fas fa-recycle"></span>
                        </a>
                    </div>
                </div>

            </form>

            <table class="table table-sm table-hover">
                <thead>
                <th>Date</th>
                <th>Response</th>
                <th>Message</th>
                </thead>
                <tbody>
                {% for row in result %}
                    <tr>
                    <td>
                        {{ row.addedDate| date('Y-m-d h:m:s') }}
                    </td>
                    <td>
                        {{ row.type }}
                    </td>
                    <td>
                        {{ row.message }}
                    </td>

                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No SMS messages found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(result) }}

        </div>
    </div>

{% endblock %}