{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <br>

    <div class="container">
        <div class="card">
            <div class="card-header">

                <ul class="nav nav-pills mb-3 nav-justified card-header-tabs" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                           aria-controls="pills-home" aria-selected="true">Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-timeline" role="tab"
                           aria-controls="pills-timeline" aria-selected="false">Timeline <span
                                    class="badge badge-pill badge-warning">{{ client.timelines|length }}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-uploads" role="tab"
                           aria-controls="pills-uploads" aria-selected="false">Files <span
                                    class="badge badge-pill badge-warning">{{ client.uploads|length }}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-financials"
                           role="tab" aria-controls="pills-financials" aria-selected="false">Financials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-tracking" role="tab"
                           aria-controls="pills-tracking" aria-selected="false">Tracking</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Add Policy</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Aegon</a>
                            <a class="dropdown-item" href="#">Legal and General</a>
                            <a class="dropdown-item" href="#">Aviva</a>
                            <a class="dropdown-item" href="#">Liverpool Victoria</a>
                            <a class="dropdown-item" href="#">Vitality</a>
                            <a class="dropdown-item" href="#">Royal London</a>
                            <a class="dropdown-item" href="#">One Family</a>
                            <a class="dropdown-item" href="#">Zurich</a>
                            <a class="dropdown-item" href="#">Scottish Widows</a>
                        </div>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Settings</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('app_edit_client', {'id': client.id}) }}"><i
                                            class="far fa-edit"></i> Edit Client</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="far fa-trash-alt"></i> Delete Client</a>
                            </div>
                        </li>
                    {% endif %}

                </ul>
            </div>

            <div class="card-body tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">

                        <div class="col-sm">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary"><i class="fas fa-user"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.title }} {{ client.firstName }} {{ client.lastName }}"
                                       readonly>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary"><i class="fas fa-calendar-alt"></i>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.dob| date('Y-m-d') }}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary" data-toggle="modal"
                                            data-target="#emailModal"><i class="fas fa-envelope"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text" value="{{ client.email }}"
                                       readonly>
                            </div>

                        </div>

                        <div class="col-sm">

                            {% if(client.title2) %}

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="input-group btn btn-primary"><i class="fas fa-user"></i></button>
                                    </div>
                                    <input class="form-control form-control-sm" type="text"
                                           value="{{ client.title2 }} {{ client.firstName2 }} {{ client.lastName2 }}"
                                           readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="input-group btn btn-primary"><i class="fas fa-calendar-alt"></i>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm" type="text"
                                           value="{{ client.dob2| date('Y-m-d') }}" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="input-group btn btn-secondary"><i class="fas fa-envelope"></i>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm" type="text"
                                           value="{{ client.email2 }}" readonly>
                                </div>
                            {% endif %}

                        </div>

                        <div class="col-sm">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary" data-toggle="modal"
                                            data-target="#phoneNumberModal"><i class="fas fa-phone"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.phoneNumber }}" readonly>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-secondary"><i class="fas fa-phone"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.altNumber }}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary"><i class="fas fa-home"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.address1 }}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary"><i class="fas fa-list"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.address2 }}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary"><i class="fas fa-list"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.address3 }}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary"><i class="fas fa-list"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text" value="{{ client.town }}"
                                       readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group btn btn-primary"><i class="fas fa-search"></i></button>
                                </div>
                                <input class="form-control form-control-sm" type="text"
                                       value="{{ client.postcode }}" readonly>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-primary"><i class="fas fa-file-pdf"></i> Policy
                                Keyfacts
                            </button>
                            <button type="button" class="btn btn-outline-secondary"><i class="fas fa-file-pdf"></i>
                                Policy App
                            </button>
                            <button type="button" class="btn btn-outline-success"><i class="fas fa-file"></i> Dealsheet
                            </button>
                            <button type="button" class="btn btn-outline-danger"><i class="fas fa-headphones"></i>
                                Closer Recording
                            </button>
                            <button type="button" class="btn btn-outline-warning"><i class="fas fa-headphones"></i>
                                Agent Recording
                            </button>
                            <button type="button" class="btn btn-outline-info"><i class="fas fa-link"></i> Insurer
                                portal
                            </button>
                            <button type="button" class="btn btn-outline-dark">Dark</button>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                            <th>Insurer</th>
                            <th>Policy</th>
                            <th>Client</th>
                            <th>Type</th>
                            <th>Comm Type</th>
                            <th>Term</th>
                            <th>Prem</th>
                            <th>Cover</th>
                            <th>Status</th>
                            <th colspan="3">Options</th>
                            </thead>
                            <tbody>

                            {% for policies in client.policies %}

                                <tr>
                                    <td>{{ policies.insurer }}</td>
                                    <td><a href="#">
                                            {{ policies.reference }}</a></td>
                                    <td>{{ policies.policyHolder }}</td>
                                    <td>{{ policies.aegonPolicy.type }}</td>
                                    <td>{{ policies.aegonPolicy.commType }}</td>
                                    <td>{{ policies.aegonPolicy.term }}</td>
                                    <td>{{ policies.aegonPolicy.premium }}</td>
                                    <td>{{ policies.aegonPolicy.coverAmount }}</td>
                                    <td>{{ policies.status }}</td>

                                    {% if(policies.insurer == 'Aegon') %}


                                        {% set view_policy = 'view_aegon_policies' %}
                                        {% set edit_policy = 'edit_aegon_policies' %}

                                    {% elseif(policies.insurer == 'Vitality') %}

                                        {% set view_policy = 'view_vitality_policies' %}

                                    {% else %}

                                        {% set view_policy = 'view_aegon_policies' %}
                                        {% set edit_policy = 'edit_aegon_policies' %}

                                    {% endif %}

                                    <td>
                                        <a href="{{ path(view_policy) }}?PID={{ policies.id }}&CID={{ policies.client.id }}"
                                           class="btn btn-sm btn-info"><i
                                                    class="fas fa-search"></i></a></td>
                                    <td>
                                        <a href="{{ path(edit_policy) }}?PID={{ policies.id }}&CID={{ policies.client.id }}"
                                           class=" btn btn-sm btn-warning"><i
                                                    class="far fa-edit"></i></a></td>
                                    <td><a href="" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a></td>


                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="9" class="text-center">No Policies found</td>
                                </tr>


                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline-tab">

                    <h3><span class="badge badge-primary">Workflows</span></h3>

                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success active">Happy wih policy</button>
                        <button type="button" class="btn btn-outline-danger">Had email from us</button>
                        <button type="button" class="btn btn-outline-danger">Had post from insurer</button>
                        <button type="button" class="btn btn-outline-success active">Cancelled old DD</button>
                        <button type="button" class="btn btn-outline-danger">Confrimed 1st DD</button>
                        <button type="button" class="btn btn-outline-success active">TPS</button>
                        <button type="button" class="btn btn-outline-danger">Trust</button>
                    </div>
                    <br>
                    <br>
                    <form>
                        <div class="form-group mx-auto" style="width: 150px;">
                            <select class="form-control" id="TASK" required>
                                <option>Select task</option>
                                <option>48 hour</option>
                                <option>7 day</option>
                                <option>18 day</option>
                                <option>21 day</option>
                            </select>
                        </div>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-success"><i class="fas fa-edit"></i> Update
                                    task
                                </button>
                            </div>
                        </div>

                    </form>

                    <br>
                    <br>
                    <h3><span class="badge badge-primary">Add notes</span></h3>
                    <form>
                        <textarea class="form-control" id="timeline_notes" name="timeline_notes" rows="3"
                                  required></textarea>

                        <button type="button" class="btn btn-success btn-block"><i class="fas fa-edit"></i> Submit
                        </button>
                    </form>
                    <br>
                    <h3><span class="badge badge-primary">Timeline</span></h3>

                    <div class="row">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                            <th>Date</th>
                            <th>User</th>
                            <th>Type</th>
                            <th>Message</th>
                            </thead>
                            <tbody>


                            {% for timeline in client.timelines %}

                                <tr>
                                    <td>{{ timeline.addedDate| date('Y-m-d') }}</td>
                                    <td>{{ timeline.addedBy }}</td>
                                    <td>{{ timeline.notetype }}</td>
                                    <td>{{ timeline.message }}</td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">No timeline found</td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-uploads" role="tabpanel" aria-labelledby="pills-uploads-tab">


                    <br>

                    <div class="list-group">
                        <a href="#"
                           class="list-group-item list-group-item-primary">{{ client.title }} {{ client.firstName }} {{ client.lastName }}
                            Letters and emails:</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i> Trust
                            Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Freepost Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Reinstate Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-envelope"></i> Any
                            Queries Call Us Email</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-envelope"></i> My
                            Account Details Email</a>
                        <a href="#"
                           class="list-group-item list-group-item-primary">{{ client.title2 }} {{ client.firstName2 }} {{ client.lastName2 }}
                            Letters and emails:</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i> Trust
                            Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Freepost Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Reinstate Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-envelope"></i> Any
                            Queries Call Us Email</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-envelope"></i> My
                            Account Details Email</a>
                        <a href="#" class="list-group-item list-group-item-primary">Joint Letters and emails:</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i> Trust
                            Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Freepost Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Reinstate Letter</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-envelope"></i> Any
                            Queries Call Us Email</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-envelope"></i> My
                            Account Details Email</a>
                        <a href="#" class="list-group-item list-group-item-primary">Uploads</a>

                        {% for uploads in client.uploads %}

                            {% if(uploads.type == 'Admin call recording') %}

                                <a href="#" class="list-group-item list-group-item-action"><i
                                            class="fas fa-headphones"></i>
                                    Admin call recording | {{ uploads.fileName }} </a>

                            {% endif %}

                            {% if(uploads.type == 'Closer call recording') %}

                                <a href="#" class="list-group-item list-group-item-action"><i
                                            class="fas fa-headphones"></i>
                                    Closer call recording | {{ uploads.fileName }} </a>

                            {% endif %}

                            {% if(uploads.type == 'Agent call recording') %}

                                <a href="#" class="list-group-item list-group-item-action"><i
                                            class="fas fa-headphones"></i>
                                    Agent call recording | {{ uploads.fileName }} </a>

                            {% endif %}

                            {% if(uploads.type == 'Insurer Keyfacts') %}

                                <a href="#" class="list-group-item list-group-item-action"><i
                                            class="fas fa-file-pdf"></i>
                                    Dealsheet | {{ uploads.fileName }} </a>

                            {% endif %}

                            {% if(uploads.type == 'Insurer Application') %}

                                <a href="#" class="list-group-item list-group-item-action"><i
                                            class="fas fa-file-pdf"></i>
                                    Dealsheet | {{ uploads.fileName }} </a>

                            {% endif %}

                            {% if(uploads.type == 'Dealsheet') %}

                                <a href="#" class="list-group-item list-group-item-action"><i
                                            class="fas fa-file-pdf"></i>
                                    Dealsheet | {{ uploads.fileName }} </a>

                            {% endif %}

                            {% if(uploads.type == 'Other') %}

                                <a href="#" class="list-group-item list-group-item-action"><i
                                            class="fas fa-file-pdf"></i>
                                    Other | {{ uploads.fileName }} </a>

                            {% endif %}

                        {% endfor %}

                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-headphones"></i>
                            Closer call recording</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-headphones"></i>
                            Lead call recording</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Policy keyfacts</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Policy Application</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="far fa-file-pdf"></i>
                            Dealsheets</a>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-financials" role="tabpanel" aria-labelledby="pills-financials-tab">
                    Financials
                </div>
                <div class="tab-pane fade" id="pills-tracking" role="tabpanel" aria-labelledby="pills-tracking-tab">
                    Tracking
                </div>


            </div>

        </div>


    </div>

    <div class="modal fade" id="phoneNumberModal" tabindex="-1" role="dialog" aria-labelledby="phoneNumberModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="phoneNumberModalLabel"><i class="far fa-comment-dots"></i> SMS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <span class="badge badge-primary"><h4>SMS Template</h4></span>

                    <form>
                        <div class="form-group">
                            <label for="SendSMS">Phone number</label>
                            <select class="form-control form-control-sm" id="SendSMS" required>
                                <option>{{ client.phoneNumber }}</option>
                                {% if(client.altNumber) %}
                                    <option>{{ client.altNumber }}</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="InsurerSMSTemplate">Insurer</label>
                            <select class="form-control form-control-sm" id="InsurerSMSTemplate" required>
                                {% for policies in client.policies %}
                                    <option>{{ policies.insurer }}</option>
                                {% else %}
                                    <option>No polices have been added</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="SMSTemplate">SMS Templates</label>
                            <select class="form-control form-control-sm" id="SMSTemplate" required>
                                <option>Welcome</option>
                                <option>Contact us</option>
                                <option>Direct Debit</option>
                                <option>Reminder</option>
                            </select>
                        </div>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-success">Send SMS</button>
                            </div>
                        </div>

                    </form>

                    <br>

                    <form>

                        <span class="badge badge-primary"><h4>Custom SMS</h4></span>

                        <div class="form-group">
                            <label for="SendCustomSMS">Phone number</label>
                            <select class="form-control form-control-sm" id="SendCustomSMS" required>
                                <option>{{ client.phoneNumber }}</option>
                                {% if(client.altNumber) %}
                                    <option>{{ client.altNumber }}</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="SendCustomSMSMSG"></label>
                            <textarea class="form-control" id="SendCustomSMSMSG" rows="3" required></textarea>
                        </div>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-success">Send custom SMS</button>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel"><i class="fas fa-envelope"></i> Emails</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <span class="badge badge-primary"><h4>Email Template</h4></span>

                    <form>
                        <div class="form-group">
                            <label for="SendEmail">Email</label>
                            <select class="form-control form-control-sm" id="SendEmail" required>
                                <option>{{ client.email }}</option>
                                {% if(client.email2) %}
                                    <option>{{ client.email2 }}</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="InsurerEmailTemplate">Insurer</label>
                            <select class="form-control form-control-sm" id="InsurerEmailTemplate" required>
                                {% for policies in client.policies %}
                                    <option>{{ policies.insurer }}</option>
                                {% else %}
                                    <option>No polices have been added</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="EmailTemplate">Email Templates</label>
                            <select class="form-control form-control-sm" id="EmailTemplate" required>
                                <option>Welcome</option>
                                <option>Keyfacts</option>
                                <option>Contact us</option>
                                <option>Direct Debit</option>
                                <option>Reminder</option>
                            </select>
                        </div>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-success">Send Email</button>
                            </div>
                        </div>

                    </form>

                    <br>

                    <form>

                        <span class="badge badge-primary"><h4>Custom Email</h4></span>

                        <div class="form-group">
                            <label for="SendCustomEmail">Email</label>
                            <select class="form-control form-control-sm" id="SendCustomEmail" required>
                                <option>{{ client.email }}</option>
                                {% if(client.altNumber) %}
                                    <option>{{ client.email2 }}</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="SendCustomEmailMSG"></label>
                            <textarea class="form-control" id="SendCustomEmailMSG" rows="3" required></textarea>
                        </div>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-success">Send custom Email</button>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}