{{ form_start(NewClientForm, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="form-row">
    <div class="col-sm">
        <h2><span class="badge badge-info">Client Details</span></h2>

        <div class="col">
            {{ form_row(NewClientForm.title, {
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.firstName, {
                'label': 'First Name',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.lastName, {
                'label': 'Last Name',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.dob, {
                'attr': {'class': 'form-group form-inline form-control-sm'},
                'label_attr': {'class': 'foo'},
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.email, {
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

    </div>

    <div class="col-sm">

        <h2><span class="badge badge-info">Client Details (2)</span></h2>

        <div class="col">
            {{ form_row(NewClientForm.title2, {
                'label': 'Title',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.firstName2, {
                'label': 'First Name',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.lastName2, {
                'label': 'Last Name',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.dob2, {
                'label': 'Date of Birth',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        <div class="col">
            {{ form_row(NewClientForm.email2, {
                'label': 'Email',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

    </div>

    <div class="col-sm">

        <h2><span class="badge badge-info">Contact Details</span></h2>


        <div class="col">
            {{ form_row(NewClientForm.phoneNumber, {
                'label': 'Contact Number'
            }) }}
        </div>
        <div class="col">
            {{ form_row(NewClientForm.altNumber, {
                'label': 'Alt number',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}

        </div>
        <div class="col">
            {{ form_row(NewClientForm.address1, {
                'label': 'Address Line 1',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}

        </div>

        <div class="col">
            {{ form_row(NewClientForm.address2
                , {
                    'label': 'Address Line 2',
                    'attr': {'class': 'form-group form-inline form-control-sm'}
                }) }}

        </div>

        <div class="col">
            {{ form_row(NewClientForm.address3, {
                'label': 'Address Line 3',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}

        </div>

        <div class="col">

            {{ form_row(NewClientForm.town, {
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
            {{ form_row(NewClientForm.postcode, {
                'label': 'Post Code',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
            {{ form_row(NewClientForm.user, {
                'label': 'Added By',
                'attr': {'class': 'form-group form-inline form-control-sm'}
            }) }}
        </div>

        {#        <div class="col">
                    {{ form_row(NewClientForm.owner, {
                        'attr': {'class': 'form-group form-inline form-control-sm'}
                    }) }}

                </div>#}


        {#            <div class="col">
                            {{ form_row(NewClientForm.addedDate, {
                                'disabled': true,
                                'attr': {'class': 'form-group form-inline form-control-sm'}
                            }) }}
                        </div>#}

        <div clas="col">
            <div class="form-group">
                <select class="form-group form-inline form-control-sm" required>
                    <option>Change Reason</option>
                </select>
            </div>
        </div>


        <button type="submit" class="btn {{ buttonClass }}">{{ buttonText }}</button>

    </div>
</div>
{{ form_end(NewClientForm) }}