{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/ADL/largeIcons.css') }}">

    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% set foo = app.request.query.get('option') %}

    <div class="container">
        <br>
        <div class="row">

            <form class="form-inline">
                <div class="input-group mb-2 mr-sm-2">
                    <select type="text"
                            name="option"
                            class="form-control"
                    >
                        <option>Select...</option>
                        <option value="Closer call recording" {% if foo == 'Closer call recording' %} selected {% endif %} >
                            Closer Call Recording
                        </option>
                        <option value="Agent call recording" {% if foo == 'Agent call recording' %} selected {% endif %}>
                            Agent Call Recording
                        </option>
                        <option value="Dealsheet" {% if foo == 'Dealsheet' %} selected {% endif %}>Dealsheet</option>
                        <option value="Insurer Application" {% if foo == 'Insurer Application' %} selected {% endif %}>
                            Insurer
                            Application
                        </option>
                        <option value="Insurer Keyfacts" {% if foo == 'Insurer Keyfacts' %} selected {% endif %}>Insurer
                            Keyfacts
                        </option>
                        <option value="Sent SMS: Welcome" {% if foo == 'Sent SMS: Welcome' %} selected {% endif %} >
                            Sent SMS: Welcome
                        </option>
                    </select>
                </div>

                <div class="input-group mb-2 mr-sm-2">
                    <input type="text"
                           class="form-control"
                           value="Clients found ({{ result.getTotalItemCount }})"
                           disabled
                    >

                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fas fa-search"></span>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <a href="{{ path('app_missing_uploads') }}"
                           class="btn btn-outline-secondary btn-outline-danger">
                            <span class="fas fa-recycle"></span>
                        </a>
                    </div>
                </div>

        </form>

            <table class="table table-sm table-hover">
            <thead>
            <th>Date</th>
            <th>Client Name</th>
            </thead>
            <tbody>
            {% for client in result %}
                <tr>
                    <td>
                        {{ client.added_date| date('Y-m-d h:m:s') }}
                    </td>
                    <td>
                        <a href="{{ path('app_clientsPage', {slug: client.id}) }}" target="_blank">
                            {{ client.title }} {{ client.first_name }} {{ client.last_name }}
                            <br>
                            {{ client.title2 }} {{ client.first_name2 }} {{ client.last_name2 }}
                        </a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="2" class="text-center">No missing uploads found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(result) }}

    </div>
    </div>

{% endblock %}